<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <h1>Make fake news! </h1>
  <h3>(Using GPT-2-Article generator)</h3>
  <hr />
</head>

<body>
  <div>
    <div>
      <label>Title</label><input type="text" id="text" value="US election" />
    </div>
    <div style="display: flex;">
      <div>
        <label>INITIAL CONTENT</label><input type="text" id="initial_content" value="US President Donald Trump" />
        <button id="submit">Submit</button>
      </div>
      <div id="wrapper" style="visibility: hidden;">
        <div class="loading-spinner"></div>
      </div>
    </div>
  </div>
  <div style="width:80%; margin-left: 3%; border: 1px #3F3F42 solid;">
    <hr>
    <h1 id="title" style="color: #3F3F42;">US Election 2020: Trump and Biden duel in critical state of Florida</h1>
    <hr>
    <div>
      <img src="../static/clock.png" style="height: 12px;">
      <span><time datetime="2020-10-30T03:51:47.000Z">1 hour ago</time></span>
    </div>
    <div style="color: #3F3F42;font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;">
      <p><b id="subtitle">US President Donald Trump and his Democratic White House challenger Joe Biden have held
          duelling rallies in
          the critical election state of Florida.</b></p>
      <div id="output" style="margin-left:1rem; ">
        The two presidential campaigns are scheduled to visit Florida on
        Tuesday, and the two campaigns
        have been given by state officials and the state party. The two campaigns have been able to get by some
        delegates in Florida and in other states, but the campaign has been unable to get a majority of those
        delegates
        to support them. The two campaigns have been in contact with all of the state party leaders, state officials
        and
        the state party, but no one has shared the details of their talks. The two campaigns are scheduled to return
        to
        Florida on Tuesday for a press event between Trump and Biden and a rally with a bow toward the 2016
        presidential
        election floor. [In Florida, Trump, Clinton and Biden decamp for Florida] In Florida, Trump has been on a
        quest
        to win a majority of the primary votes in the state, though he has been a constant presence at campaign
        rallies
        and on cable news shows. Trump has been a candidate in Florida, and he is leading in the polls in the state by
        an average of more than points. Democrats, meanwhile, have not been able to accomplish much in Florida, where
        both campaigns are scheduled to visit. “The only thing we can do is get the state party involved in the
        process,” said state Democratic chairwoman Debbie Wasserman Schultz. “We’re going to communicate with the
        state
        party about how we can work together and get the state party involved in the process. ” Florida Democrats have
        been calling on state party leaders to attend the rally in the state, but no one has provided the details of
        their talks. The two campaigns are hoping to keep the momentum as they move on to Florida where they are
        scheduled to begin their campaign in early June. “We’re going to continue to work in Florida,” said state
        Democratic Party chairman Stu Ingraham, who spoke at the event. “We are focused on and the state party is
        doing
        very well. ”
      </div>
      <hr>
      <div>
        <b>Caption</b>
      </div>
      <ul id="caption">
        <li>The president will host South Carolina Gov. Nikki Haley in his closed office on April 29. </li>
      </ul>
    </div>
  </div>
  <script>
    document.getElementById("submit").onclick = () => {
      const formData = new FormData();
      const button = document.querySelector('button');
      button.disabled = true;
      document.getElementById('wrapper').style.visibility = 'visible';
      var message = document.getElementById('text').value;
      var content = document.getElementById('initial_content').value;
      document.getElementById('text').value = '';
      document.getElementById('initial_content').value = '';
      formData.append("message", message);
      formData.append("initial_content", content);

      fetch("/predict", {
          method: "POST",
          body: formData,
        })
        .then((response) => response.json())
        .then((data) => {
          try {
            var msg = data.message.replace(data.title, ' ');
            var output = document.getElementById('output');
            document.getElementById('wrapper').style.visibility = 'hidden'
            document.getElementById('title').innerHTML = data.title;

            // Array
            msg = msg.split('Caption');
            var sentence = msg[0].split('.');
            sentence.pop();
            console.log(sentence.length);
            output.innerHTML = '';
            document.getElementById('subtitle').innerHTML = sentence[0] + '.';
            sentence.splice(0, 1);

            sentence.forEach(element => {
              var p = document.createElement('p');
              p.innerHTML = element + '.';
              output.appendChild(p);
            });

            //remove list
            var ul = document.getElementById('caption');
            while (ul.hasChildNodes()) {
              ul.removeChild(ul.firstChild);
            }
            for (var i = 1; i < msg.length; i++) {
              var li = document.createElement('li');
              li.innerHTML = msg[i];
              ul.appendChild(li);
              console.log(msg[i]);
            }
            button.disabled = false;
          } catch {
            document.getElementById('wrapper').style.visibility = 'hidden';
            button.disabled = false;
          }
        });
    };
  </script>

</html>