<!DOCTYPE html>
<html>

<head>
  <h3>GPT-2 test(774M model)</h3>
  <hr />
</head>

<body>
  <div>
    <label>Text</label><input type="text" id="text" />
    <label>INITIAL CONTENT</label><input type="text" id="initial_content" />
    <button id="submit">Submit</button>
  </div>
  <div >
      <h1 style="color: #46474A;">France attack: Attacker arrived in Europe from Tunisia days ago</h1>
      <div>
        <img src="../static/clock.png"/ style="height: 12px;">
        <span><time datetime="2020-10-30T03:51:47.000Z">1 hour ago</time></span>
      </div>
      <div>
        <p id="output"></p>
      </div>
  </div>
  <script>
    document.getElementById("submit").onclick = () => {
      const formData = new FormData();
      var message = document.getElementById('text').value;
      var content = document.getElementById('initial_content').value;
      document.getElementById('text').value = '';
      document.getElementById('initial_content').value = '';
      formData.append("message", message);
      formData.append("initial_content", content);

      fetch("/predict", {
          method: "POST",
          body: formData,
        })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById('output').innerHTML = data.message;
          console.log(data.message);
        });
    };
  </script>

</html>